body {
    font-family: Arial, sans-serif;
    text-align: center;
    transition: background-color 1s ease;  
}

h1 {
    margin-top: 20%;
    color: white;
    font-family: italic;
    font-size: 40px;
}
