*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-flex{
    display: flex;
}

nav{
    background-color: rgba(37, 3, 3, 0.9);
    padding: 10px 25px 20px 5px;
    width: 100%;
    height: 70px;
}

.icons{
    padding-left: 20px;
}

#left{
    width: 50%;
}

#right a{
    text-decoration: none;
    color: rgb(183, 110, 121);
    padding: 20px;
    font-size: 25px;
}

#right{
    display: flex;         
    justify-content: end; 
    align-items:center;
    width: 100%;
}

nav ul{
    list-style-type: none;
}

#hero{
    background-image: url('bg-1.jpg');  
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.carousel-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-side{
    color: white;
    max-width: 50%;
    padding-right: 50px; 
    font-size: 25px;
}

.left-side h1{
    font-size: 70px;
    font-family:'Times New Roman', Times, serif;
}

.left-side p{
    margin-top: 50px;
    padding-bottom: 40px;
}

.right-side {
    max-width: 50%; 
    overflow: hidden;
}

.carousel {
    display: flex;
    animation: continuous-slide 9s linear infinite;
    height: 350px;
    width: 450px;
}

.carousel-images {
    display: flex;
    width: 300%;
}

.carousel-image {
    width: 100%; 
    flex-shrink: 0;
    display: block;
}

.carousel-image img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}

@keyframes continuous-slide {
    0% { transform: translateX(0); }
    33.33% { transform: translateX(-100%); }
    66.66% { transform: translateX(-200%); }
    100% { transform: translateX(0); }
}

.cake{
    height: 100vh;
    background-image: url(bg.jpg);
    background-position: center;
    background-size: cover;
}

#header{
    height: 150px;
}

#header h1{
    font-size: 50px;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    padding-top: 30px;
}

#flavour{
    background-image: url(bg.jpg);
    background-position: center;
    background-size: cover;
}

#flavour>div{
    margin-left: 10px;
    margin-right: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#flavour>div>*{
    margin-bottom: 10px;
}

#flavour p{
    text-align: center;
    font-size: 20px;
}

#flavour img{
    width: 70%;
}

#contact {                  
    padding: 40px;                   
    background-image: url('bg-2.jpg');
    background-size: cover;                
}

#header-1{
    text-align: center;
    font-size: 20px;
    padding-bottom: 25px;
}

.right1{
    width: 50%;
    padding: 40px;
    background-color: rgb(210,210,210);
}

.left1{
    width: 50%;
}

.left1>img{
    width: 100%;
    height:100%;
}

.inputForm{
    flex-direction: column;
}

#forms input{
    margin: 10px 0 10px 0;
    border: 2px solid transparent;
}

.button {
    display: inline-block; 
    text-decoration: none;
    background-color: rgb(60, 206, 60); 
    color: white; 
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
    margin: 20px auto; 
}

.icons1 p{
    color: white;
}

footer{
    background-color: rgba(37, 3, 3, 0.9);
    padding: 25px 0;
    text-align: center;
}

.icons2 i{
    margin: 15px 10px;
    font-size: 25px;
    color: white;
}